@{
    this.ViewData["Title"] = "Message Sent";
}

<h1 class="text-center text-danger mb-5">Your message has been sent!</h1>

<div class="text-center mb-5">
    <img src="~/Images/MessageSent.jpg" style="width:400px" height="400px"/>
</div>

<div class="text-center">
    <a class="btn btn-success" asp-controller="Home" asp-action="Index">Return to home page</a>
</div>
