@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<hr>

<h3 class="mb-3">Customer care</h3>

<p>We believe that the customer is above all, and what is most important to the customer is educational information without substances that are harmfull to the body and environment.</p>
<p>This site is made for educational purposes only!</p>

<h3 class="mb-3">Privacy & policy</h3>

<p>All personal data collected by the site is kept most safely with the help of advanced technology. The data is used from the client to have the best browsing experience.</p>

<h3 class="mb-3">Ownership</h3>
<p>The creator reserves all rights to create and use the product.</p>
<p>Do not try to copy without the approval of the owner.</p>

<div class="text-center">
<img src="~/Images/PrivacyPolicy.jpg" class="rounded" style="width:900px" alt="Privacy Policy image" />
</div>

<hr>