@{
    this.ViewData["Title"] = "Not Found";
}

<h1 class="text-center mb-4">@ViewBag.ErrorMessage</h1>

<div class="text-center">
<a class="btn btn-success" asp-controller="Home" asp-action="Index">Return to home page</a>
</div>