@model CarWorld.Areas.Administration.ViewModels.AdministrationRoles.CreateRoleInputModel

@{
    this.ViewData["Title"] = "Create New Role";
}

<h3 class="display-4 text-center">@this.ViewData["Title"]:</h3>

<form asp-area="Administration" asp-controller="AdministrationRoles" asp-action="CreateRole" method="post" class="col-md-8 offset-2 mb-md-5">

    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="RoleName" class="control-label"></label>
        <input type="text" asp-for="RoleName" class="form-control" placeholder="Type your role name here" />
        <span asp-validation-for="RoleName" class="text-danger" />
    </div>

    <div class="text-center">
        <button type="submit" formmethod="post" class="btn-success btn-lg">Create Role</button>
    </div>
</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}